# Flopcoin RPC Configuration
FLOP_RPC_USER=myrpcuser
FLOP_RPC_PASS=myrpcpass
FLOP_RPC_PORT=22555
FLOP_RPC_HOST=127.0.0.1

# hCaptcha Sitekey/Secret
NEXT_PUBLIC_HCAPTCHA_SITE_KEY=your-hcaptcha-site-key
HCAPTCHA_SECRET_KEY=your-hcaptcha-secret-key

# Faucet Configuration
NEXT_PUBLIC_FAUCET_ADDRESS=your-faucet-address
FAUCET_REWARD=100